body {
	font-family: "Verdana", "Times New Roman";
	background-color: #000;
	color: #FFFFFF;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

h1 {
	font-size: 48px;
	text-align: center;
	padding: 15px;
}